@page
@model IndexModel
@{
    ViewData["Title"] = "Домашняя страница";
}

<div class="text-center">
    <p>Незарегистрированный пользователь</p>
    <h3><a class="nav-link text-dark" asp-area="" asp-page="/Authorization">Авторизоваться</a></h3>
    <p>Еще не зарегистрированы?</p>
    <h5><a class="nav-link text-dark" asp-area="" asp-page="/Registration">Регистрация</a></h5>
</div>
